# Rellenar con valores reales
# Puerto del servidor de Express
PORT=

# Credenciales de Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

# URL de conexión a MongoDB
MONGOOSE_URL=

