@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), sans-serif;

  --text-base: 14px;
  --text-small: 12px;
  --text-button: 10px;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
}

@layer base {
  .text-base {
    font-size: var(--text-base);
    font-weight: var(--font-weight-medium);
  }
  .text-small {
    font-size: var(--text-small);
    font-weight: var(--font-weight-light);
  }

  .text-button {
    font-size: var(--text-button);
    font-weight: var(--font-weight-semibold);
    text-transform: uppercase;
    letter-spacing: 0.05em;
  }
}
